{
  "recommendations": [
    "ms-python.python",
    {% if python_linter == 'ruff' -%}
    "charliermarsh.ruff",
    {% elif python_linter == 'flake8' -%}
    "ms-python.flake8",
    {% endif -%}
    {% if use_python_mypy -%}
    "matangover.mypy",
    {% endif -%}
    {% if deployment_language == 'typescript' -%}
    "esbenp.prettier-vscode",
    {% endif -%}
    "bungcip.better-toml",
    "editorconfig.editorconfig",
    "vsls-contrib.codetour"
  ]
}
