{
  "version": "0.2.0",
  "configurations": [
    {% if deployment_language == 'python' -%}
    {
      "name": "Build & Deploy contracts",
      "type": "python",
      "request": "launch",
      "module": "smart_contracts",
      "cwd": "${workspaceFolder}",
      "preLaunchTask": "Start AlgoKit LocalNet",
      "env": {
        "ALGOD_TOKEN": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
        "ALGOD_SERVER": "http://localhost",
        "ALGOD_PORT": "4001",
        "INDEXER_TOKEN": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
        "INDEXER_SERVER": "http://localhost",
        "INDEXER_PORT": "8980"
      }
    },
    {
      "name": "Deploy contracts",
      "type": "python",
      "request": "launch",
      "module": "smart_contracts",
      "args": ["deploy"],
      "cwd": "${workspaceFolder}",
      "env": {
        "ALGOD_TOKEN": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
        "ALGOD_SERVER": "http://localhost",
        "ALGOD_PORT": "4001",
        "INDEXER_TOKEN": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
        "INDEXER_SERVER": "http://localhost",
        "INDEXER_PORT": "8980"
      }
    },
    {% elif deployment_language == 'typescript' -%}
    {
      "name": "Build & Deploy contracts",
      "type": "node",
      "request": "launch",
      "runtimeExecutable": "npm",
      "runtimeArgs": ["run", "deploy"],
      "cwd": "${workspaceFolder}/smart_contracts",
      "console": "integratedTerminal",
      "skipFiles": ["<node_internals>/**", "node_modules/**"],
      "preLaunchTask": "Build contracts (+ LocalNet)",
      "env": {
        "ALGOD_TOKEN": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
        "ALGOD_SERVER": "http://localhost",
        "ALGOD_PORT": "4001",
        "INDEXER_TOKEN": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
        "INDEXER_SERVER": "http://localhost",
        "INDEXER_PORT": "8980"
      }
    },
    {
      "name": "Deploy contracts",
      "type": "node",
      "request": "launch",
      "runtimeExecutable": "npm",
      "runtimeArgs": ["run", "deploy"],
      "cwd": "${workspaceFolder}/smart_contracts",
      "console": "integratedTerminal",
      "skipFiles": ["<node_internals>/**", "node_modules/**"],
      "env": {
        "ALGOD_TOKEN": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
        "ALGOD_SERVER": "http://localhost",
        "ALGOD_PORT": "4001",
        "INDEXER_TOKEN": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
        "INDEXER_SERVER": "http://localhost",
        "INDEXER_PORT": "8980"
      }
    },
    {% endif -%}
    {
      "name": "Build contracts",
      "type": "python",
      "request": "launch",
      "module": "smart_contracts",
      "args": ["build"],
      "cwd": "${workspaceFolder}"
    },
    {
      "type": "avm",
      "request": "launch",
      "name": "Debug TEAL via AlgoKit AVM Debugger",
      "simulateTraceFile": "${workspaceFolder}/${command:PickSimulateTraceFile}",
      "stopOnEntry": true
    }
  ]
}
