{
  // General - see also /.editorconfig
  "editor.formatOnSave": true,
  "files.exclude": {
    "**/.git": true,
    "**/.DS_Store": true,
    "**/Thumbs.db": true,
    ".mypy_cache": true,
    ".pytest_cache": true,
    ".ruff_cache": true,
    "**/__pycache__": true,
    ".idea": true
  },
  {% if deployment_language == 'typescript' %}
  // TypeScript
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  {% endif %}
  // Python
  "python.analysis.extraPaths": ["${workspaceFolder}/smart_contracts"],
  "python.defaultInterpreterPath": "${workspaceFolder}/.venv",
  "[python]": {
    "editor.codeActionsOnSave": {
      "source.fixAll": true,
      // Prevent default import sorting from running; Ruff will sort imports for us anyway
      "source.organizeImports": false
    },
    "editor.defaultFormatter": "ms-python.black-formatter"
  },
  {% if use_python_pytest -%}
  "python.testing.pytestEnabled": true,
  {% endif -%}
  {% if use_python_black -%}
  "python.formatting.provider": "black",
  {% endif -%}
  {% if python_linter != 'none' -%}
  "python.linting.pylintEnabled": false,
  {% endif -%}
  {% if python_linter == 'flake8' -%}
  "python.linting.flake8Enabled": true,
  "flake8.importStrategy": "fromEnvironment",
  {% endif -%}
  {% if use_python_mypy -%}
  "python.analysis.typeCheckingMode": "off",
  "mypy.configFile": "pyproject.toml",
  // set to empty array to use config from project
  "mypy.targets": [],
  "mypy.runUsingActiveInterpreter": true,
  {% endif %}
  // On Windows, if execution policy is set to Signed (default) then it won't be able to activate the venv
  //  so instead let's set it to RemoteSigned for VS Code terminal
  "terminal.integrated.shellArgs.windows": ["-ExecutionPolicy", "RemoteSigned"],
}
