name: Continuous Delivery of Template

on:
  push:
    branches:
      - main

concurrency: release

jobs:
  ci-check-python:
    name: Check Python
    uses: ./.github/workflows/check-python.yaml

  tag-release:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Tag release
        id: tag
        uses: TriPSs/conventional-changelog-action@v3.18.0
        with:
          skip-commit: "true"
          tag-prefix: ""
          skip-on-empty: "false"
          
      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: ${{ steps.tag.outputs.skipped == 'false' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag.outputs.tag }}
          body: ${{ steps.tag.outputs.clean_changelog }}
